<h4>Dashboard for Peer Leaders and Health Professionals</h4>

<div>
    <div class="panel-heading" style="border: solid; size: 1px;">
      <h2 class="panel-title" style="color: black">Follow-Ups</h2>
    </div>

    <div class="panel-body" style="border: solid;">
      <div class="alert alert-danger">Peer Leader has not followed up</div>
    </div>
</div>

<p></p>

  <div class="panel-heading" style="border: solid; size: 1px;">
      <h2 class="panel-title" style="color: black">Meetings</h2>
  </div>

<div class="panel-body" style= "border: solid;">
    <div class="alert alert-safety"> 
     <h4>Past meetings</h4>
        <% @past_meetings.each do |meeting| %>

      <p><%= meeting.date %></p>

      <% end %>
    </div>

    <div class="alert alert-info"> 
     <h4>Today's meetings</h4>
        <% @today_meetings.each do |meeting| %> 

      <p><%= meeting.date %></p>

      <% end %>
    </div>


      <div class="alert alert-safety"> 
        <h4>Future meetings</h4>
          <% @future_meetings.each do |meeting| %>

          <p><%= meeting.date %></p>

        <% end %>
      </div>
</div>
<p></p>
<div>
    <div class="panel-heading" style="border: solid; size: 1px;">
      <h2 class="panel-title" style="color: black">My Groups</h2>
    </div>

    <div class="panel-body" style="border: solid;">
      <div class="alert alert-safety">Group 4 </div>
    </div>
</div>
