<<<<<<< HEAD
<h2>Groups</h2>


<% @group.each do |group| %>
<p>
	<button type="button" class="btn btn-warning"><%= link_to group.name, group %></button>
</p>
<% end %>
=======
<h1>Groups</h1>
<ul>
  <% @group.each do |group| %>
  <p>
    <button type="button" class="btn btn-warning"><%= link_to group.name, group %></button>
    </p>
  <% end %>
</ul>
>>>>>>> 6703f42f30fa923d2582c4457bd59de3825d5e89
